{% extends('template_cart.html.twig') %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header>
        <h1><a href="{{ path('home') }}">Games</a></h1>
        {% for user in users if user.is_subscribe == 1 %}
            <p>You are member of Game Club</p>
        {% else %}
        {% endfor %}
    </header>
{% endblock %}

{% block body %}
    <div id="main">
        <div class="top">
            <div class="title">
                <h4>Your cart</h4>
            </div>
            {% for user in users if user.is_subscribe == 1 %}
            {% for product in products if products is defined %}
            <div class="items">
                <ul>
                    <li>
                        <img src='images/{{ product.image }}.png'>
                        <div class="desc">
                            <h5>{{ product.name }}</h5>
                            <p>{{ product.description }}</p>
                        </div>
                        <a id='go' href="/cart/download/{{ product.image }}">Download</a>
                    </li>
                </ul>
            </div>
            <a id="to_empty" href="{{ path('cartClear') }}">Empty cart</a>
            {% else %}
            <h3 id="empty_cart">Your cart is empty</h3>
            {% endfor %}
            {% else %}
                <h3 id="not_subscribed">Only subscribed users can view this page!</h3>
            {% endfor %}
        </div>
    </div>

    <script>
        jQuery(document).on('click', '#go', function() {
            setTimeout(function() {
                window.location.href = '/cart';
            }, 700);
        });
    </script>
{% endblock %}