{% extends('template_club.html.twig') %}

{% block title %}
    {{ title }}
{% endblock %}

{% block header %}
    <header>
        <h1><a href="/home">Games</a></h1>
        {% for user in users if user.is_subscribe == 1 %}
            <p>You are member of Game Club</p>
        {% else %}
        {% endfor %}
    </header>
{% endblock %}

{% block body %}
    {% for user in users if user.is_subscribe == 1 %}
    <div id="main">
        <div class="top">
            <div class="title">
                <h4>Club settings</h4>
            </div>
            {% for user_subscribed_date in users_subscribed_date %}
            <p class="sub_date">You subscribed on {{ user_subscribed_date.date|date("d.m.Y") }}</p>
            {% endfor %}
            <p class="downloads">You downloaded {{ users_downloads }} games</p>
            <a href="/unsubscribe">Unsubscribe</a>
        </div>
        <div class="bottom">
            <div class="title">
                <h4>Your downloads</h4>
            </div>
            <ul>
                {% for product in products %}
                <li>
                    <img src="images/{{ product.image }}.png">
                    <div class="desc">
                        <h5>{{ product.name }}</h5>
                        <p>{{ product.description }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <div class="pagination">
                <a href="#">&laquo;</a>
                <a href="#">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">&raquo;</a>
            </div>
        </div>
    {% else %}
        <h3 id="not_subscribed">Only subscribed users can view this page!</h3>
    {% endfor %}
{% endblock %}